body {
    background-color: lightslategray;
    color: white;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    padding: 1rem 5rem;

}

div {
    margin: 0 auto;
    padding: 1rem 0;

}

h2 {
    text-align: center;

}

h3, h1, h4 {
    text-align: center;
}

p {
    padding: 0.5rem;
}

.experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    padding: 1rem 0;
}

.wireFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workflow {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workflowimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.prototype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testingReflection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    padding: 0;
    margin-bottom: 0.3rem;
}