body {
    background-color: lightslategray;
    color: white;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    padding: 1rem 5rem;

}

div {
    margin: 0 auto;
    padding: 1rem 0;

}

h2 {
    text-align: center;

}

h3, h1 {
    text-align: center;
}


.experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    padding: 1rem 0;
}

